* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    gap: 20px;
}

body {
    background: linear-gradient(lightblue, darkblue);
    height: 100vh;
    background-repeat: round;
}

.master-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: 90%;
    margin: 20px auto;
}

.master-container img {
    width: 180px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.card {
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.card .simpson-info {
    background-color: darkblue;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
}

@media (max-width: 1739px) {
    body {
        height: 100%;
    }
}