* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100%;
    background-color: #2E94A0;
}

h1 {
    color: lightskyblue;
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

img {
    display: block;
    width: 32%;
    margin: auto;
}